<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array><string>ru</string><string>en</string><string>de</string><string>es</string><string>fr</string><string>zh-Hans</string></array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lunavect</string>
	<key>CFBundleDisplayName</key>
	<string>Lunavect</string>
	<key>CFBundleIconFile</key>
	<string>LunavectTide</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Lunavect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lunavect</string>
				<string>weekleft</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUFeedURL</key>
    <string>$(LUNAVECT_UPDATE_FEED_URL)</string>
    <key>SUPublicEDKey</key>
    <string>$(LUNAVECT_UPDATE_PUBLIC_KEY)</string>
    <key>SURequireSignedFeed</key><true/>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SUAutomaticallyUpdate</key><true/>
    <key>SUScheduledCheckInterval</key><integer>3600</integer>
    <key>SUEnableSystemProfiling</key><false/>
    <key>SUShowReleaseNotes</key><false/>
    <key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Lunavect brings the Terminal or iTerm2 tab of a session to the front when you open it.</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>WeekleftAppGroup</key>
	<string>$(WEEKLEFT_APP_GROUP)</string>
</dict>
</plist>
